<footer class="main" id="footer">
    <div style="display: flex;flex-direction: column;">
        <a href="#navbar"><img src="./../../assets/img/name.png" class="name"></a>
        <a (click)="goToImprint()" style="font-size: 16px; cursor: pointer;" class="mt">Imprint</a>
    </div>
    <div><span style="font-size: 23px;">© Dominik Tockloth 2024</span></div>
    <div class="social-icons">
        <a href="https://github.com/DominikTockloth" target="_blank"><img src="./../../assets/img/github-link.png"></a>
        <a href="mailto:Dominik&#46;Tockloth@gmx.de"><img src="./../../assets/img/email.png"
                style="margin-left: 80px;"></a>
        <a href="" target="_blank"><img src="./../../assets/img/linked-in-link.png" style="margin-left: 80px;"></a>
    </div>
</footer>