<div class="about-me-main " id="about">
    <div class="about-content" data-aos="fade-right" data-aos-duration="3000">
        <h2>{{ "navAbout"|translate}}</h2>
        <div class="about-text" id="text">
            <p>
                {{ "aboutIntro"|translate}} </p>
        </div>
        <div class="about-sub-text">
            <img src="./../../assets/img/bulb.png">
            <p>
                {{ "aboutFirst"|translate }} </p>
        </div>
        <div class="about-sub-text">
            <img src="./../../assets/img/puzzle.png">
            <p>
                {{ "aboutSecond"|translate }} </p>
        </div>

    </div>
    <div class="about-img" id="about-img">

        <div class="portrait-head"> <img src="./../../assets/img/head.png">
            <div class="border"></div>
        </div>

    </div>
</div>

<app-skills></app-skills>