<div class="about-me-main" id="about">
    <div class="about-content">
        <h2>About me</h2>
        <div class="about-text">
            <p translate>
                Hi! I'm a Frontend Developer based in Neuss, Germany, with experience in designing various web
                apps using TypeScript and Angular. I've collaborated in team environments and
                build projects on my own, feel free to check out my portfolio for a glimpse of my work. </p>
        </div>
        <div class="about-sub-text">
            <img src="./../../assets/img/bulb.png">
            <p translate>
                I am captivated by the diverse possibilities within programming. Constructing projects from the ground
                up and experiencing the satisfaction upon their completion are among my favorite aspects. I am seeking
                for
                an opportunity to demonstrate my skills as a junior frontend developer. </p>
        </div>
        <div class="about-sub-text">
            <img src="./../../assets/img/puzzle.png">
            <p translate>
                I am glad to have stepped in the realm of programming, and I am now actively seeking a position
                within an outstanding team. My aim is to consistently learn and evolve. I am highly motivated and
                excited to tackle new challenges, embracing them as opportunities for daily learning and growth. </p>
        </div>

    </div>
    <div class="about-img" id="about-img">

        <div class="portrait-head"> <img src="./../../assets/img/test-portrait-PhotoRoom.png-PhotoRoom.png">
            <div class="border"></div>
        </div>

    </div>
</div>

<app-skills></app-skills>