<div class="main" id="contact">
    <div class="headline-content" data-aos="fade-right" data-aos-duration="900">
        <div class="border"></div>
        <div class="headline">
            <h2>{{ "contact"|translate }}</h2>
        </div>
    </div>
    <div class="content">
        <div class="left" data-aos="fade-right" data-aos-duration="1000">
            <h3>{{ "problem"|translate }}</h3>
            <p>{{ "contactText"|translate }}</p>
            <span>{{ "developer"|translate }} <span class="fs-weight">{{ "touchOne"|translate }}</span></span>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="right" data-aos="zoom-in-up"
            data-aos-duration="1400" data-aos-delay="300">
            <!---------------  name field  -------------------------------->
            <div class="input-area">
                <input required placeholder="{{'y-name' | translate}}" type="text" name="name" formControlName="name"
                    [ngClass]="{ 'error': contactForm.get('name')?.invalid && contactForm.get('name')?.touched }">
                <img src="./../../assets/img/green-hook.png" class="img" *ngIf="contactForm.get('name')?.valid">
                <img src="./../../assets/img/red-marker.png" class="img"
                    *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                <span class="fs-red" translate
                    *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">{{ "name"|translate
                    }}</span>
            </div>
            <!---------------  email field  -------------------------------->
            <div class="input-area">
                <input required placeholder="{{'y-mail' | translate }}" type="email" name="email"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" formControlName="email"
                    [ngClass]="{ 'error': contactForm.get('email')?.invalid && contactForm.get('email')?.touched }">
                <img src="./../../assets/img/green-hook.png" class="img" *ngIf="contactForm.get('email')?.valid">
                <img src="./../../assets/img/red-marker.png" class="img"
                    *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                <span class="fs-red" translate
                    *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">{{ "mail"|translate
                    }}</span>
            </div>
            <!---------------  text area  -------------------------------->
            <div class="input-area">
                <textarea required placeholder="{{'y-message' | translate}}" name="message" id="message" cols="30"
                    rows="10" formControlName="message"
                    [ngClass]="{ 'error': contactForm.get('message')?.invalid && contactForm.get('message')?.touched }"></textarea>
                <img src="./../../assets/img/green-hook.png" class="img" *ngIf="contactForm.get('message')?.valid"><img
                    src="./../../assets/img/red-marker.png" class="img"
                    *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                <span class="fs-red "
                    *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">{{"message"|translate}}</span>
            </div>
            <div class="agree"><input type="checkbox" formControlName="isChecked">{{ "read"|translate}}<a
                    href="imprint">{{"policy"|translate}}</a> {{
                "agree"|translate}}</div>
            <div class="btn-container"><button  [ngClass]="{'disabled': contactForm.invalid || !contactForm.get('isChecked')?.value}" [disabled]="contactForm.invalid || !contactForm.get('isChecked')?.value"
                    >{{"btnContact"|translate }} </button></div>

            <div class="scroll-up"><a (click)="scrollToTop()"><img src="./../../assets/img/scroll-ub-arrow.png"></a>
            </div>
        </form>
        <div class="success-email" *ngIf="mailSent"><span class="span-mail">{{"mailSent"|translate }}</span>
        </div>
    </div>
</div>

[class.disabled]="contactForm.invalid && checkbox.isChecked"