$darkblue: #141D2F;
$green: #70E61C;
$purple: #9747FF;

.headline-content {
    display: flex;
    align-items: center;
    justify-content: center !important;
    position: relative;
    padding-top: 90px;
    width: 100%;
    gap: 50px;
    h1 {
        font-size: 90px;
        color: white;
        margin-right: 110px;
    }
    .border {
        height: 4px;
        width: 110px;
        background-color: $purple;
    }
    .border-big {
        height: 4px;
        width: calc(40% - 100px);
        background-color: $purple;
        position: absolute;
        left: 100%;
        right: 0;
        transform: translate(-102%, -50%);
    }
}

.sub-headline {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin-bottom: -80px;
}

.portfolio-main {
    background-color: #141D2F;
    background-image: url('./../../assets/img/shadow-portfolio-section.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 650px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 100px;
    margin-top: 180px;
    margin-bottom: -350px;
    .portfolio-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 500px;
        padding: 0px 100px;
        margin-bottom: 30px;
        gap: 80px;
    }
    .portfolio-text {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        h3 {
            font-size: 36px;
            font-weight: 700;
            color: $purple;
            margin-bottom: 20px;
        }
        span {
            font-size: 27px;
            color: $green;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
            color: white;
        }
    }

    .portfolio-img img {
        height: 550px;
        width: 550px;
        object-fit: contain;
    }
    .reverse {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
    }
    .buttons-flex-end {
        display: flex;
        justify-content: flex-end;
        gap: 80px;
        margin-top: 20px;
        >.test {
            font-size: 23px;
            padding: 15px 30px;
            background-color: $purple;
            border-radius: 10px;
            text-decoration: none;
            color: white;
            &:hover {
                cursor: pointer;
                background-color: $green;
            }
        }

        >.github {
            font-size: 23px;
            padding: 15px 30px;
            border: 1px solid $green;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            background-color: $darkblue;
            &:hover {
                cursor: pointer;
                background-color: $green;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-start;
        gap: 80px;
        margin-top: 20px;
        >.test {
            font-size: 23px;
            padding: 15px 30px;
            background-color: $purple;
            border-radius: 10px;
            text-decoration: none;
            color: white;
            &:hover {
                cursor: pointer;
                background-color: $green;
            }
        }

        >.github {
            font-size: 23px;
            padding: 15px 30px;
            border: 1px solid $green;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            background-color: $darkblue;
            &:hover {
                cursor: pointer;
                background-color: $green;
            }

        }
    }

}

