<div class="headline-content" id="projects">
    <div class="border"></div>
    <div>
        <h1>Portfolio</h1>
    </div>
    <div class="border-big"></div>
   
</div>
 <div class="sub-headline"><span translate>This page is a sample of my work - please feel free to try them out.</span></div>
<div class="portfolio-main">
    <div class="portfolio-content">
        <div class="portfolio-img"><img src="./../../assets/img/join-notebook.png"></div>
        <div class="portfolio-text">
            <h3>Join</h3>
            <span> JavaScript | HTML | CSS </span>
            <p translate>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories. </p>
                <div class="buttons"><a href="" class="test">Live Test</a><a href="https://github.com/DominikTockloth/Join-Kanban-Project" class="github">Github</a></div>
        </div>
    </div>
    <div class="portfolio-content reverse">
        <div class="portfolio-img"><img src="./../../assets/img/pollo-loco-notebook.png"></div>
        <div class="portfolio-text">
            <h3>El-Pollo-Loco</h3>
            <span>JavaScript | HTML | CSS</span>
            <p translate>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
                fight against the crazy hen.</p>
                <div class="buttons flex-end-btn"><a href="" class="test">Live Test</a><a href="https://github.com/DominikTockloth/El-Pollo-Loco-" class="github">Github</a></div>
        </div>
    </div>

</div>

<app-contact></app-contact>