<div class="headline-content" id="projects">
    <div class="border"></div>
    <div>
        <h1>Portfolio</h1>
    </div>
    <div class="border-big"></div>

</div>
<div class="sub-headline" id="subheadline"><span>{{"portfolioText"|translate }}</span></div>
<div class="portfolio-main" id="join">
    <div class="portfolio-content" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="portfolio-img"><img src="./../../assets/img/join-notebook.png"></div>
        <div class="portfolio-text">
            <h3>Join</h3>
            <span> JavaScript | HTML | CSS </span>
            <p>{{"joinText"|translate }} </p>
            <div class="buttons"><a href="https://join.dominik-tockloth.de/" class="test" target="_blank">Live
                    Test</a><a href="https://github.com/DominikTockloth/Join-Kanban-Project" class="github">Github</a>
            </div>
        </div>
    </div>
    <div class="portfolio-content reverse" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="portfolio-img"><img src="./../../assets/img/pollo-loco-notebook.png"></div>
        <div class="portfolio-text">
            <h3>El-Pollo-Loco</h3>
            <span>JavaScript | HTML | CSS</span>
            <p>{{"polloText"|translate }}</p>
            <div class="buttons-flex-end"><a href="https://el-pollo-loco.dominik-tockloth.de/" class="test"
                    target="_blank">Live Test</a><a href="https://github.com/DominikTockloth/El-Pollo-Loco-"
                    class="github">Github</a></div>
        </div>
    </div>

    <div class="portfolio-content" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="portfolio-img"><img src="./../../assets/img/simple-crm-portfolio-page.png" class="cover"></div>
        <div class="portfolio-text">
            <h3>Simple-CRM</h3>
            <span>Angular | TypeScript | Firebase | HTML | CSS </span>
            <p>{{"crmText"|translate }} </p>
            <div class="buttons"><a href="https://simple-crm.dominik-tockloth.de" class="test" target="_blank">Live
                    Test</a><a href="https://github.com/DominikTockloth/Simple-CRM" class="github">Github</a>
            </div>
        </div>
    </div>
    <div class="portfolio-content reverse" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="portfolio-img"><img src="./../../assets/img/pokedex-portfolio.png"></div>
        <div class="portfolio-text">
            <h3>Pokedex</h3>
            <span> JavaScript | API | HTML | CSS </span>
            <p>{{"pokeText"|translate }} </p>
            <div class="buttons-flex-end"><a href="https://pokedex.dominik-tockloth.de/pokedex/" class="test" target="_blank">Live
                    Test</a><a href="https://github.com/DominikTockloth/Pokedex" class="github">Github</a>
            </div>
        </div>
    </div>

</div>

<app-contact></app-contact>