<div class="main">
    <div class="content">
        <h1>{{"imprint"|translate}}</h1>

        <h2>{{"impTwo"|translate}}</h2>
        <p>Dominik Tockloth<br />
            Kaarsterstrasse 148<br />
            41462 Neuss</p>

        <h2>{{"contact"|translate}}</h2>
        <p><span>{{"phone"|translate}} 0176 48067668</span><br />
            E-Mail: dominik.tockloth&#64;gmx.de</p>

        <p>{{"source"|translate}} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>


        <p> <strong>{{"disclaimer"|translate}}</strong>
            <br><br>

            <strong>
                <span>{{"content"|translate}}</span>
            </strong>
            <br>
            <span>{{"liability"|translate}}</span>
            <br><br>
            <strong>
                <span>{{"links"|translate}}</span>
            </strong>
            <br>
            <span> {{"linksTwo"|translate}}</span>
            <br>
            <br>
            <span><strong> {{"copy"|translate}}</strong></span>
            <br>
            <span> {{"copyTwo"|translate}}</span>
            <br>
            <br>
            <strong> {{"data"|translate}}</strong>
            <br>
            <span> {{"dataTwo"|translate}}</span>
        </p>
    </div>
</div>