<div class="main">
    <div class="content">
        <h1>{{"imprint" | translate}}</h1>

        <h2>{{"impTwo" |translate}}</h2>
        <p>Dominik Tockloth<br />
            Kaarsterstrasse 148<br />
            41462 Neuss</p>

        <h2>{{"contact"|translate}}</h2>
        <p>{{"phone"|translate}} 0176 48067668<br />
            E-Mail: dominik.tockloth&#64;gmx.de</p>

        <p>{{"source" | translate}} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>


        <p> <strong>{{"disclaimer" | translate}}</strong>
            <br><br>

            <strong>{{"content" | translate}}</strong>
            <br>
           {{ "liability" | translate}}
            <br><br>
            <strong> {{ "links" | translate}}</strong>
            <br>
            {{ "linksTwo" | translate}}
            <br>
            <br>
            <strong> {{"copy"|translate}}</strong>
            <br>
           {{"copyTwo"|translate}}
            <br>
            <br>
            {{"data"|translate}}
            <br>
            {{"dataTwo"|translate}}
        </p>
    </div>
</div>