<div class="main">
    <div class="portrait-container"><img src="./../../assets/img/shadows.png" class="shadow">
        <img src="./../../assets/img/test-portrait-PhotoRoom.png-PhotoRoom.png" class="portrait">
        <img src="./../../assets/img/Vector.png" class="shape">
    </div>
    <div class="headline-container">
        <div class="rotate"><span translate>I am</span></div>
        <div class="name-content">
            <span class="name">Dominik Tockloth</span>
            <span class="job" translate>FRONTEND DEVELOPER</span>
            <a href="#contact" translate class="talk-btn">Let's talk!</a>
        </div>
    </div>
</div>
<div class="social-media-links">
    <div class="link-wrapper">
        <div class="border"></div>
        <div class="links"><a href="https://github.com/DominikTockloth" target="blank"><img
                    src="./../../assets/img/github-link.png" ></a>
            <a href="mailto:mailto:Dominik&#46;Tockloth@gmx.de"><img src="./../../assets/img/email.png"></a>
            <a href="" target="blank"><img src="./../../assets/img/linked-in-link.png"></a>
            <span class="mail">Dominik&#46;Tockloth&#64;gmx.de</span>

        </div>
    </div>
    <div class="scroll"><a href="#contact" translate class="animate__animated animate__bounceIn">Scroll down</a> <img src="./../../assets/img/arrow.png"></div>
</div>
<app-about-me></app-about-me>