/********************************************  Bigger screnn sizes  **************************************************/

@media(min-width:2800px) {
    .headline-container {
        right: 300px !important;
    }

    .portrait-container {
        left: 300px !important;
    }

    .shape {
        left: -318px !important;
    }

}

@media(min-width:2200px) {
    .headline-container {
        right: 300px !important;
    }

    .portrait-container {
        left: 300px !important;
    }

    .shape {
        left: -306px !important;
    }
}

@media(min-width:3000px) {
    .headline-container {
        right: 550px !important;
    }

    .portrait-container {
        left: 550px !important;
    }

    .shape {
        left: -560px !important;
    }
}